/**********************Login page *********************/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    font-family: 'Poppins', sans-serif;
}
.wrapper{
    background: #ececec;
    padding: 0 20px 0 20px;
}
.main{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.side-image {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 10px 0 0 10px;
}

.side-image img {
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.text{
    text-align: center;
}

.text p {
    color: #ff0000; 
    font-size: 24px; 
    margin-top: 10px; 
    font-weight: bold;
}


.row{
  width:  900px;
  height:550px;
  border-radius: 10px;
  background: #fff;
  padding: 0px;
  box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2);
}

.right{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #ff0000; 
  color: #ffffff; 
}

.input-box{
  width: 330px;
  box-sizing: border-box;
}

img{
    width: 35px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.input-box header{
    font-weight: 700;
    text-align: center;
    margin-bottom: 45px;
    font-size: 25px;
}

.input-field{
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 0 10px 0 10px;
}

.input{
    height: 45px;
    width: 100%;
    background: transparent;
    border: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    outline: none;
    margin-bottom: 20px;
    color: #40414a;
}

.input-box .input-field label{
    position: absolute;
    top: 10px;
    left: 10px;
    pointer-events: none;
    transition: .5s;
}

.input-field input:focus ~ label
   {
    top: -10px;
    font-size: 13px;
  }

.input-field input:valid ~ label
  {
   top: -10px;
   font-size: 13px;
   color: #5d5076;
 }

.input-field .input:focus, .input-field .input:valid{
    border-bottom: 1px solid #743ae1;
 }

.submit{
    border: none;
    outline: none;
    height: 45px;
    background: #ececec;
    border-radius: 5px;
    transition: .4s;
 }

.submit:hover{
    background: rgba(37, 95, 156, 0.937);
    color: #fff;
 }

.signin{
    text-align: center;
    font-size: small;
    margin-top: 25px;
}

span a{
    text-decoration: none;
    font-weight: 700;
    color: #000;
    transition: .5s;
}

span a:hover{
    text-decoration: underline;
    color: #000;
}

.change-password {
    margin-top: 10px;
}

.change-password button {
    border: none;
    background-color: transparent;
    font-weight: bold;
    color: #5d5076;
    cursor: pointer;
}

.change-password button:hover {
    text-decoration: underline;
}

/*********************** reclamation page ****************/
.sidebar {
    width: 280px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    padding: 1rem 1.5rem;
    background: #ff0000;
    color:#fff;
    margin: 0;
    padding: 0;
}

.sidebar-brand {
    height: 70px;
}

.brand-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.sidebar-user {
    margin: 1rem 0rem 1rem 0rem;
    text-align: center;
}

.white-line {
    border: 0; 
    border-top: 1px solid #fff; 
    margin: 15px; 
}

.sidebar-user img {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border-left: 2px solid #efefef;
    border-right: 2px solid #efefef;
    border-bottom: 2px solid #efefef;
    border-top: 2px solid #efefef;
    margin-left: 70px;
}

.sidebar-user h3 {
    font-size: 1rem;
    margin-top: 100px;
    text-align: center;
    margin-left: 30px;
}

.sidebar-menu {
    margin-top: 3rem;
}

.menu-head {
    text-transform: uppercase;
    color: #8da2fb;
    font-size: .8rem;
    font-weight: 500;
    margin-bottom: .5rem;
}

.sidebar-menu ul {
    margin-bottom: 1.5rem;
}

.sidebar-menu li {
    margin-bottom: 30px;
}

.sidebar-menu li a {
    color: #efefef;
    font-size: .9rem;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.sidebar-menu li a span {
    font-size: 1.5rem;
    display: inline-block;
    margin-right: .8rem;
}

.main-content {
    padding-left: 280px; /* Pour compenser la largeur de la barre latérale */
}

.page-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 1.5rem;
}

.header-content {
    flex: 1; /* Pour que le contenu prenne tout l'espace disponible */
}

.header-content h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
    color: #ff0000; /* Couleur rouge */
    text-align: center; /* Centre */
}

.header-actions {
    display: flex;
}

.header-actions button {
    margin-left: 10px;
    background: transparent;
    border: none;
    color: #343a40;
    cursor: pointer;
}

.header-actions button:hover {
    color: #007bff;
}





