<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <title>Nouvelle réclamation</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="script.js" defer></script>
</head>
<body>
  <div class="sidebar">
    <div class="sidebar-brand">
        <div class="brand-flex">
            <img src="" width="40px" alt="">
        </div>
    </div>
    <div class="sidebar-main">
        <div class="sidebar-user">
            <img src="{{ url_for('static', filename='image/unknown.png') }}" alt="Unknown Image">
            <div>
                <h3>Welcome Admin!</h3>
                <hr class="white-line">
            </div>
        </div>

        <div class="sidebar-menu">
            <div class="menu-head">
            </div>
            <ul>
                <li>
                    <a href="">
                        <span class="las la-plus-circle"></span> Nouvelle requête
                    </a>
                </li>
                <li>
                    <a href="">
                        <span class="las la-plus-circle"></span> Consulter historique
                    </a>
                </li>

                <li>
                    <a href="">
                        <span class="las la-sign-out-alt"></span> Se déconnecter
                    </a>
                </li>
            </ul>
        </div>
    </div>
  </div>

  <main class="main-content">
    <div class="page-header">
        <div class="header-content">
            <h1>Historique des requêtes</h1>
        </div>
        <div class="header-actions">
            <div>
                <button class="export"><i class="las la-file-excel"></i>Export</button>
                <button class="refresh"><i class="las la-sync"></i>Refresh</button>
            </div>
            <img src="{{ url_for('static', filename='image/logo_Djezzy.png') }}" alt="Djezzy Logo">
        </div>
    </div>
    <div class="form-container">
      <form action="/search" method="get">
        <label for="categorie">Catégorie</label>
        <input type="text" id="categorie" name="categorie">
        
        <label for="date">Date</label>
        <input type="date" id="date" name="date">
        
        <label for="status">Status</label>
        <input type="text" id="status" name="status">
        
        <button type="submit">Rechercher</button>
      </form>
    </div>
  </main>
</body>
</html>
