<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <title>Statistique</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/script.js"></script>
</head>
<body>
  <div class="sidebar">
    <div class="sidebar-brand">
        <div class="brand-flex">
            <img src="" width="40px" alt="">
        </div>
    </div>
    <div class="sidebar-main">
        <div class="sidebar-user">
            <img src="{{ url_for('static', filename='image/unknown.png') }}" alt="Unknown Image">
            <div>
                <h3>Welcome Supervisor!</h3>
                <hr class="white-line">
            </div>
        </div>

        <div class="sidebar-menu">
          <div class="menu-head">
          </div>
          <ul>
            <li>
                <a href="{{ url_for('reclamation_supervisor') }}">
                    <span class="las la-plus-circle"></span> Nouvelle requête
                </a>
            </li>
            <li>
                <a href="{{ url_for('historique_supervisor') }}">
                    <span class="las la-plus-circle"></span> Consulter historique
                </a>
            </li>
            <li>
              <a href="{{ url_for('statistique') }}">
                  <span class="las la-chart-bar"></span> Consulter statistique
              </a>
            </li>
            <li>
                <a href="{{ url_for('logout') }}">
                    <span class="las la-sign-out-alt"></span> Se déconnecter
                </a>
            </li>
        </ul>
      </div>
    </div>
  </div>

  <main class="main-content">
    <div class="page-header">
      <div class="header-content">
        <h1>Tableau de bord récapitulatif</h1>
      </div>
      <div class="header-actions">
        <div class="filters">
            <div class="filter">
                <label for="mois">Mois</label>
                <select id="mois" name="mois">
                    <option value="">(Tout)</option>
                    <option value="janvier">Janvier</option>
                    <option value="fevrier">Février</option>
                    <option value="mars">Mars</option>
                    <option value="avril">Avril</option>
                    <option value="mai">Mai</option>
                    <option value="juin">Juin</option>
                    <option value="juillet">Juillet</option>
                    <option value="aout">Août</option>
                    <option value="septembre">Septembre</option>
                    <option value="octobre">Octobre</option>
                    <option value="novembre">Novembre</option>
                    <option value="decembre">Décembre</option>
                </select>
            </div>
            <div class="filter">
              <label for="categorie">Catégorie</label>
              <select id="categorie2" name="categorie">
                  <option value="">(Tout)</option>
                  <option value="acte_de_malveillance">Acte de malveillance</option>
                  <option value="autres">Autres</option>
                  <option value="controle">Contrôle</option>
                  <option value="demande_acces">Demande d'accès</option>
                  <option value="mission">Mission</option>
                  <option value="panne_technique_systeme">Panne technique système</option>
                  <option value="travaux">Travaux</option>
                  <option value="accident">Accident</option>
                  <option value="incident">Incident</option>
                  <option value="demande_securisation">Demande de sécurisation</option>
              </select>
          </div>

        </div>
        <img src="{{ url_for('static', filename='image/logo_Djezzy.png') }}" alt="Djezzy Logo">
    </div>
    </div>


    <div class="stats-container">
        <div class="stat">
          <span class="las la-users"></span>
          <div>
            <h3>Employés actifs</h3>
            <p>{{ actifs_count }}</p>
          </div>
        </div>
        <div class="stat">
          <span class="las la-exclamation-triangle"></span>
          <div>
            <h3>Incidents</h3>
            <p>{{ incidents_count }}</p>
          </div>
        </div>
        <div class="stat">
          <span class="las la-th"></span>
          <div>
            <h3>Catégories</h3>
            <p>{{ categories_count }}</p>
          </div>
        </div>
      </div>

      <div class="additional-stats-container">
        <div class="additional-stat">
          <h3>Nombre d'incidents traités par employé</h3>
          <img class="additional-stat-image" id="img_employe" src="data:image/png;base64,{{ img_employe }}" alt="Image 1">
        </div>
        <div class="additional-stat">
          <h3>Total d'incidents par famille</h3>
          <img class="additional-stat-image" id="img_famille" src="data:image/png;base64,{{ img_famille }}" alt="Image 2">
        </div>
      </div>

      <div class="additional-stats-container">
        <div class="additional-stat">
          <h3>Nombre d'incidents traités par Catégorie</h3>
          <img class="additional-stat-image" id="img_categorie" src="data:image/png;base64,{{ img_categorie }}" alt="Image 3">
        </div>
      </div>

      <div class="additional-stats-container">
        <div class="additional-stat">
                <h3>Détails</h3>
                <div class="custom-table-container">
                  <table id="reclamation-table">
                      <thead>
                          <tr>
                              <th>ID</th>
                              <th>Titre</th>
                              <th>Sites</th>
                              <th>Action Entreprise</th>
                              <th>Date Ouverture</th>
                              <th>Date Fin</th>
                              <th>Opérateur</th>
                              <th>Échéance</th>
                              <th>Étages</th>
                              <th>Affecté À</th>
                              <th>Priorité</th>
                              <th>Accès</th>
                              <th>Ouvert Par</th>
                              <th>Description</th>
                              <th>Status</th>
                              <th>Catégorie</th>
                              <th>Famille</th>
                              <th>Commentaire</th>
                              <th>Fichier</th>
                          </tr>
                      </thead>
                      <tbody>
                          {% for reclamation in reclamations %}
                          <tr>
                              <td>{{ reclamation.id }}</td>
                              <td>{{ reclamation.titre }}</td>
                              <td>{{ reclamation.sites }}</td>
                              <td>{{ reclamation.action_entreprise }}</td>
                              <td>{{ reclamation.date_ouverture }}</td>
                              <td>{{ reclamation.date_fin }}</td>
                              <td>{{ reclamation.operateur }}</td>
                              <td>{{ reclamation.echeance }}</td>
                              <td>{{ reclamation.etages }}</td>
                              <td>{{ reclamation.affecte_a }}</td>
                              <td>{{ reclamation.priorite }}</td>
                              <td>{{ reclamation.acces }}</td>
                              <td>{{ reclamation.ouvert_par }}</td>
                              <td>{{ reclamation.description }}</td>
                              <td>{{ reclamation.status }}</td>
                              <td>{{ reclamation.categorie }}</td>
                              <td>{{ reclamation.famille }}</td>
                              <td>{{ reclamation.commentaire }}</td>
                              <td>{{ reclamation.fichier }}</td>
                          </tr>
                          {% endfor %}
                      </tbody>
                  </table>
               </div>
            </div>
      </div>
       
      <div class="additional-stats-container">
        <div class="additional-stat">
          <h3>Nombre d'incidents par mois</h3>
          <img class="additional-stat-image" id="img_mois" src="data:image/png;base64,{{ img_mois }}" alt="Image 4">
        </div>
        <div class="additional-stat">
          <h3>Total d'incidents par priorité</h3>
          <img class="additional-stat-image" id="img_priorite" src="data:image/png;base64,{{ img_priorite }}" alt="Image 5">
        </div>
      </div>

  </main>
</body>
</html>