<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
  <title>Historique</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script type="text/javascript" src="/static/script.js"></script>
</head>
<body>
  <div class="sidebar">
    <div class="sidebar-brand">
        <div class="brand-flex">
            <img src="" width="40px" alt="">
        </div>
    </div>
    <div class="sidebar-main">
        <div class="sidebar-user">
            <img src="{{ url_for('static', filename='image/unknown.png') }}" alt="Unknown Image">
            <div>
                <h3>Welcome Admin!</h3>
                <hr class="white-line">
            </div>
        </div>

        <div class="sidebar-menu">
          <div class="menu-head">
          </div>
          <ul>
              <li>
                  <a href="{{ url_for('reclamation') }}">
                      <span class="las la-plus-circle"></span> Nouvelle requête
                  </a>
              </li>
              <li>
                  <a href="{{ url_for('historique') }}">
                      <span class="las la-plus-circle"></span> Consulter historique
                  </a>
              </li>
              <li>
                <a href="{{ url_for('creer_user') }}">
                    <span class="las la-user-plus"></span> Créer un utilisateur
                </a>
              </li>
              <li>
                <a href="{{ url_for('creer_superviseur') }}">
                    <span class="las la-user-plus"></span> Créer un superviseur
                </a>
            </li>
            <li>
              <a href="{{ url_for('creer_admin') }}">
                  <span class="las la-user-plus"></span> Créer un administrateur
              </a>
             </li>
             <li>
              <a href="{{ url_for('supprimer') }}">
                  <span class="las la-user-minus"></span> Supprimer
              </a>
              </li>
              <li>
                  <a href="{{ url_for('logout') }}">
                      <span class="las la-sign-out-alt"></span> Se déconnecter
                  </a>
              </li>
          </ul>
      </div>
    </div>
  </div>

  <main class="main-content">
    <div class="page-header">
      <div class="header-content">
        <h1>Historique des requêtes</h1>
      </div>
      <div class="header-actions">
        <div>
          <form id="exportForm" action="{{ url_for('export_excel') }}" method="get" style="display: inline;">
            <input type="date" id="date_debut" style="display: none;" />
            <button id="excelButton" type="button" class="export"><i class="las la-file-excel"></i>Brq</button>
          </form>
          <form id="exportForm" action="{{ url_for('export') }}" method="get" style="display: inline;">
            <button class="export" type="submit"><i class="las la-file-excel"></i>Export</button>
          </form>
          <button id="refreshButton" class="refresh"><i class="las la-sync"></i>Refresh</button>
        </div>
        <img src="{{ url_for('static', filename='image/logo_Djezzy.png') }}" alt="Djezzy Logo">
      </div>
    </div>
    <div class="flash-messages">
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
    </div>
    <div class="form-and-table">
      <div class="form-container">
        <form action="{{ url_for('historique') }}" method="get">
          <label for="categorie">Catégorie</label>
          <input type="text" id="categorie" name="categorie">
          
          <label for="date_debut">Date début</label>
          <input type="date" id="date_debut" name="date_debut">

          <label for="date_fin">Date fin</label>
          <input type="date" id="date_fin" name="date_fin">

          
          <label for="status">Status</label>
          <input type="text" id="status" name="status">
          
          <button type="submit">Rechercher</button>
      </form>
      </div>
      <div class="table-container">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Titre</th>
                    <th>Sites</th>
                    <th>Action Entreprise</th>
                    <th>Date Ouverture</th>
                    <th>Date Fin</th>
                    <th>Opérateur</th>
                    <th>Échéance</th>
                    <th>Étages</th>
                    <th>Affecté À</th>
                    <th>Priorité</th>
                    <th>Accès</th>
                    <th>Ouvert Par</th>
                    <th>Description</th>
                    <th>Status</th>
                    <th>Catégorie</th>
                    <th>Famille</th>
                    <th>Commentaire</th>
                    <th>Fichier</th>
                </tr>
            </thead>
            <tbody>
              {% if results %}
                  {% for row in results %}
                      <tr>
                          <td>{{ row.id }}</td>
                          <td>{{ row.titre }}</td>
                          <td>{{ row.sites }}</td>
                          <td>{{ row.action_entreprise }}</td>
                          <td>{{ row.date_ouverture }}</td>
                          <td>{{ row.date_fin }}</td>
                          <td>{{ row.operateur }}</td>
                          <td>{{ row.echeance }}</td>
                          <td>{{ row.etages }}</td>
                          <td>{{ row.affecte_a }}</td>
                          <td>{{ row.priorite }}</td>
                          <td>{{ row.acces }}</td>
                          <td>{{ row.ouvert_par }}</td>
                          <td>{{ row.description }}</td>
                          <td>{{ row.status }}</td>
                          <td>{{ row.categorie }}</td>
                          <td>{{ row.famille }}</td>
                          <td>{{ row.commentaire }}</td>
                          <td>{{ row.fichier }}</td>
                      </tr>
                  {% endfor %}
              {% else %}
                  <tr>
                      <td colspan="19">Aucun résultat trouvé</td>
                  </tr>
              {% endif %}
          </tbody>
          
        </table>
    </div>
    </div>
  </main>
</body>
</html>